<div  fxLayoutAlign="center"  fxLayout="row">
  <div class="container" class.sm="container-md" class.xs="container-xs"  >
    <img src="../../assets/logotest.png" alt="Logo">
    <span class="top">Sign Up</span>
    <form [formGroup]="myForm"
          (ngSubmit)=onSubmit(myForm.value)>
      <input [(ngModel)]="user.username" type="text" placeholder="Full name" [formControl]="username" [class.error]='!username.valid && username.touched' required >
      <input [(ngModel)]="user.email" type="email" placeholder="Email"  [class.error]='!email.valid && email.touched'  id="email" [formControl]="email" required>
      <input [(ngModel)]="user.password" type="password" placeholder="Password" minlength="6" [class.error]='!password.valid && password.touched' placeholder="Password" required id="password" [formControl]="password" required>
      <button md-raised-button class="sign-in" [disabled]=!myForm.valid  (click)="signUp()">
        Sign Up
      </button>
    </form>
    <span class="line"><hr></span>
    <span class="or">or</span>
    <span class="line"><hr></span>
    <button md-raised-button class="sign-google">
      <i class="fa fa-google" aria-hidden="true"></i>
      Sign up with Google
    </button>
    <p class="already">
      Already have an account?
      <span [routerLink]="['/sign-in']">Sign in</span>
    </p>
  </div>
</div>
